<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="fileTrace" xsi:type="File" fileName="${basedir}/log/urlTouchTrace.log"
		layout="${longdate} [ ${level:uppercase=true} ] | ${logger} - ${message}${exception:format=ToString}${newline}"
		archiveEvery="Day" archiveFileName="${basedir}/logs/archive/urlTouchTrace.{#####}.log"
		archiveNumbering="Rolling" />

		<target name="fileNormal" xsi:type="File" fileName="${basedir}/log/urlTouchNormal.log"
		layout="${longdate} [ ${level:uppercase=true} ] | ${logger} - ${message}${newline}${exception:format=ToString}${newline}"
		archiveEvery="Month" archiveFileName="${basedir}/logs/archive/urlTouchNormal.{#####}.log"
		archiveNumbering="Rolling" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="fileTrace"/>
		<logger name="*" minlevel="Info" writeTo="fileNormal"/>
	</rules>
</nlog>